#services_table {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, sans serif;
    border-collapse: collapse;
    width: 100%;
}

#services_table td, #ship_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#services_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#services_table tr:hover {
    background-color: #ddd;
}

#services_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#services_table {
    font-size: 20px;
    padding-bottom: 12px;
}

#auth_submit_button {
    font-size: 16px;
    color: #696969;
    border-radius: 4px;
}
