#ship_table {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, sans serif;
    border-collapse: collapse;
    width: 100%;
}

#ship_table td, #ship_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ship_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ship_table tr:hover {
    background-color: #ddd;
}

#ship_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#ship_form{
    font-size: 20px;
    padding-bottom: 12px;
}

